[2011-07-27 07:03] timClicks opened #1 "Async for the win"
Lots of the processing is pipeline based:
- screen scraping
- ocr
- entity extraction

Perhaps we should have a chapter on async and distributed programming to increase speed and offload processing to different machines?

Some of the things it could cover
- celery, RabbitMQ
- 0MQ
- execnet

[2011-07-29 15:51] pudo opened #2 "Host on readthedocs.org"
Seems like they have free GitHub webhooks and provide an excellent service - why not use it for this?

[2011-08-04 13:50] arnim commented on #2
Its a nice place to push docs to, but I guess they have already found something... DataPatterns.ORG

[2011-08-04 20:38] h4ck3rm1k3 opened #3 "Dealing with ASPX"
https://launchpad.net/aspxezxs here is code I have in production to extract data from evil microsoft aspx .net web databases, it manages the funky special encrypted parameters for screen scraping and is extensible.

[2011-08-04 20:39] h4ck3rm1k3 commented on #3
Also, you should mention using archive.org for hosting data, also https://github.com/infochimps/chimps you should mention.

[2011-08-04 20:56] timClicks commented on #3
Thanks for your contribution. This is excellent.

It seems `aspxezxs` is a Perl based tool, but the rest of our code is in Python. I guess this doesn't matter too much because `aspxezxs` is standalone and can be called from Python scripts.

Please add the hosting options as another issue.

[2011-08-15 01:58] timClicks commented on #3
ScraperWiki has a great tutorial/example of scraping [ASPX pages](http://scraperwiki.com/scrapers/new/python?template=advanced-scraping-aspx-pages)

[2011-08-15 02:19] timClicks opened #4 "Tabular data"
[tablib](http://tablib.org/) and [pandas](http://code.google.com/p/pandas/) seem to be the best libraries for dealing with tabular data. tablib has a really lovely API, whereas pandas is much more memory efficient for doing lots of number crunching.

Perhaps we could include a chapter on processing .xls documents. E.g. use tablib to easily convert an .xls to .csv and then heavy data processing wit

[2011-08-15 03:47] h4ck3rm1k3 commented on #3
Oh, interesting, well we have started to work on a reporting tool in python, it it not done yet.
If it is so easy to do this in python with the viewstate, i would be interested.. in any case the perl script works. see also the makefile for running parallel jobs for downloading many databases.

[2011-08-17 22:15] optikfluffel opened #5 "Design"
Hey :)
Could I try to add some more design-stuff including a logo to this project?

[2011-08-18 00:27] timClicks commented on #5
+1 from me

[2011-08-18 09:10] pudo commented on #5
Amazing! I quite like the simple flask layout but I think a more specific logo would be great!

[2011-08-18 09:13] optikfluffel commented on #5
What do you think about that (a first try to make a logo)?
![DataPatterns.org Logo](http://udokramer.com/datapatterns.png)

[2011-08-18 09:51] timClicks commented on #5
I like the concept, maybe turn it into a tripartite logo with docs on
the left, comp in middle and a graph on right?

For some reason, the bar & line graph looks like an angry face to me.

[2011-08-18 10:36] optikfluffel commented on #5
How about one of these?

![DataPatterns.org Logo 2](http://udokramer.com/datapatterns2.png)
![DataPatterns.org Logo 3](http://udokramer.com/datapatterns3.png)

http://udokramer.com/datapatterns2.png
http://udokramer.com/datapatterns3.png

[2011-08-29 21:47] timClicks commented on #5
I think the first one is great

[2011-12-28 19:08] rufuspollock commented on #5
Closing as this has now been integrated into the site -- see http://datapatterns.org/.

@optikfluffel: wanted to say a really big thank-you and ask what form of credit you would like on the site or in the README ...

[2011-12-28 19:08] #5 closed, assigned to nobody

[2011-12-28 19:11] rufuspollock commented on #2
Issue with readthedocs are:
- We already have something working with s3
- The slightly annoying /en/latest prefixed to every url on RTD
- Lack of submodule support (very useful for reusable themes) -- see my issue on this https://github.com/rtfd/readthedocs.org/issues/149

Thus, at the present time I'd like to close this as wontfix.

[2012-01-02 12:40] optikfluffel commented on #5
in the README would be cool :)

[2012-02-03 23:12] rufuspollock opened #8 "Switch to github pages for the website"

[2012-02-03 23:13] rufuspollock opened #9 "Update with sphinx-okfn-theme"
Use https://github.com/okfn/sphinx-theme-okfn

[2012-04-27 21:10] rufuspollock opened #10 "Rename to School of Data Handbook (?)"
Several suggestions for rename here:
- Data Handbook
- Open Data Handbook / Data (section)
- School of Data Handbook

After talking with people I suggest going with latter -- it's closest to immediate use of the handbook, ties to a bigger project and does not engender confusion with Open Data Handbook as first two do.

[2012-04-27 21:12] rufuspollock commented on #8
WONTFIX.

[2012-04-27 21:12] #8 closed, assigned to nobody

[2012-04-27 21:13] rufuspollock commented on #2
ReadTheDocs actually seems like a reasonable solution and auto-updater for current solution no longer works so I think this is the moment to move there. One issue is that you need something cname-able for RTD. I therefore may run it as handbook.schoolofdata.org for the present (cf #10).

[2012-04-29 19:07] rufuspollock opened #11 "Update Liberating HTML Data Tables with Planets Example"
@danielabsilva  As per earlier discussion :-)

Would be great to update / enhance the Liberating HTML Data Tables entry with the Planets example - http://handbook.schoolofdata.org/en/latest/liberating-html-tables.html (source: https://github.com/okfn/datapatterns/blob/master/text/liberating-html-tables.rst)

E.g. create section Scraping the Size of Planets from NASA using Google Docs

Alternativel

[2012-04-30 09:19] lauranewman commented on #10
I could go with that. Another option might be Data Wrangling Handbook / The Data Wrangler's Handbook. That ties in with School of Data stuff, without any sense of being 'only' for the School of Data. Happy with either though.

[2012-04-30 18:26] rufuspollock commented on #10
I like Data Wrangler's handbook too (and datawrangling.org is available ...). It would also help cement the term and make the handbook somewhat independent of the SoD (conversely the association could be good)

@pudo: what's your thoughts here? Options (in terms of domains)
- handbook.schoolofdata.org
- datawrangling.org
- opendatahandbook.org/datawrangling/

@danielabsilva: I know you suggested S

[2012-04-30 20:04] pudo commented on #10
I like Data Wrangler's Handbook as a title, but as you know I'm very partial to domain name 3) :)

[2012-04-30 23:11] rufuspollock commented on #10
@pudo - you mean the subdomain? I agree though in the first instance, for convenience i think we host on readthedocs (and hence at some other domain) until we have sorted out exactly how to do that.

OK: so at the moment I feel agreement coming on. As an immediate action I suggest we:
- Rename this repo to datawranglerhandbook (or datawrangling?)
- Redirect datapatterns.org to handbook.schoolofdat

[2012-05-01 07:51] pudo commented on #10
Hm, I still feel the additional domain name will do us no good, but go ahead :)

[2012-05-06 18:24] rufuspollock opened #12 "Rename DataPatterns to Data Wranglers Handbook"

[2012-05-08 08:09] lauranewman commented on #12
Technically, this should probably be Data Wrangler's Handbook - although obviously not for web addresses etc. Not a major issue I think.

[2012-05-08 15:37] rufuspollock commented on #12
Or Data Wranglers'

[2012-05-08 15:40] lauranewman commented on #12
Yep, even better.

[2012-06-20 16:36] johnapaz opened #13 "As a contributor and user of the Data Wrangling Handbook, I would like a "last edited" or "last updated" field."
A small field at the top that shows the last date of edit so users are aware of how old/new the information is. Or some other display field to show which version is being viewed.

[2012-06-20 16:37] johnapaz commented on #12
I think this issue can be closed, no? Current title: "Data Wrangling Handbook." Please advise.

[2012-06-21 07:39] rufuspollock commented on #12
@johnapaz quite right. Closing now.

[2012-06-21 07:39] #12 closed, assigned to nobody

[2012-06-21 07:39] rufuspollock commented on #13
@johnapaz is this per page or for the entire handbook. Imagine the former is more useful.

[2012-06-21 07:41] rufuspollock commented on #10
WONTFIX.

We are currently settled on http://handbook.schoolofdata.org/ for location and Data Wrangling Handbook for main name. There is a possibility of further relocation (to opendatahandbook.org/{suburl}) at some later date but that is not decided as yet.

[2012-06-21 07:41] #10 closed, assigned to nobody

[2012-06-21 07:42] rufuspollock commented on #2
FIXED. Moved to readthedocs 1m+ ago.

[2012-06-21 07:42] #2 closed, assigned to nobody

[2012-06-21 07:42] rufuspollock commented on #9
FIXED.

[2012-06-21 07:42] #9 closed, assigned to nobody

[2012-06-21 16:31] johnapaz commented on #13
@rgrp I agree, per page (or per section maybe) is definitely more useful. But, to start, an over all high-level "last updated" field on the main page would be useful for passersby or for those only peripherally interested.

[2012-06-21 21:40] rufuspollock commented on #13
Looks like we want http://sphinx.pocoo.org/config.html#confval-html_last_updated_fmt (the handbook is built in sphinx). Will look into getting this added!

[2012-07-20 10:34] mihi-tr opened #21 "html theme?"
Trying to make html.

make html
sphinx-build -b html -d build/doctrees   text build/html
Making output directory...
Running Sphinx v1.1.3
loading pickled environment... not yet created

Theme error:
no theme named 'sphinx-theme-okfn' found (missing theme.conf?)

---

Is this intended or is the theme file just missing?

[2012-07-25 07:50] rufuspollock commented on #21
@mihi-tr you just need to do:

[code]

[2012-07-25 07:50] rufuspollock commented on #21
That _should_ be in the README - apologies!

[2012-07-25 07:55] rufuspollock opened #22 "Update README to have useful amount of information"

[2012-07-25 08:03] rufuspollock commented on #22
FIXED in 88ce4d8f322eb02f24cff0bffb2a83445591b142

[2012-07-25 08:03] #22 closed, assigned to nobody

[2012-07-25 08:03] rufuspollock commented on #21
cf #22 which is now closed and new README!

[2012-07-25 08:03] #21 closed, assigned to nobody

[2012-08-20 11:29] mihi-tr opened #25 "PDF/Latex output"
If i try to make latexpdf, latex complains that several .sty files are missing...

[2012-08-20 11:32] mihi-tr commented on #25
Ok, this is a problem of my local latex installation...

[2012-08-20 11:32] #25 closed, assigned to nobody

[2012-08-21 07:41] mihi-tr opened #26 "Layout: If jumping to an anchor, the anchor disappears beneath the Bar"
Check e.q. http://handbook.schoolofdata.org/en/latest/appendix/glossary.html#term-application-programming-interface

[2012-08-21 07:51] mihi-tr commented on #13
Done (16dcf2d582139896b3c2d7672116e28387ff1ab1)

[2012-08-21 07:51] #13 closed, assigned to nobody

[2012-08-21 07:54] mihi-tr commented on #11
@rgrp is this still an actual issue? the file linked moved to: http://handbook.schoolofdata.org/en/latest/part4/recipes/liberating-html-tables.html

[2012-08-21 08:15] mihi-tr commented on #26
This is actually an issue of https://github.com/okfn/sphinx-theme-okfn : https://github.com/okfn/sphinx-theme-okfn/issues/20

[2012-08-21 08:15] #26 closed, assigned to nobody

[2012-08-21 17:02] johnapaz commented on #13
Wonderful!

[2012-09-04 16:51] lauranewman opened #27 "Fixed header bar obscures glossary text"
Because the fixed header bar partially obscures the page, when you click on a term and are redirected to the glossary, the term is entirely obscured beneath the header bar (e.g. if you want to see the definition of API, the first term that will appear is Attribution License).

Possible fixes:
- Configure the header bar differently, so that glossary terms would be displayed below it
- Get rid of th

[2012-09-05 08:02] mihi-tr commented on #27
This is an issue of https://github.com/okfn/sphinx-theme-okfn see https://github.com/okfn/sphinx-theme-okfn/issues/20 the sphinx-theme people seem to be unwilling to fix this, I'll see what I can do.

[2012-09-05 09:23] mihi-tr commented on #27
fixed in https://github.com/mihi-tr/sphinx-theme-okfn/commit/f421a88af59b8630f9935afac5c596663155375f waiting for the change to be pulled into the main repo. then it'll update with the website.

[2012-09-05 09:23] #27 closed, assigned to mihi-tr

[2012-09-27 12:34] rufuspollock opened #28 "Data parsing and normalization"
- datautil data parsing https://github.com/okfn/datautil/blob/master/datautil/date.py

[2012-09-27 12:34] rufuspollock opened #29 "Name parsing and normalization"
- datautil name parsing https://github.com/okfn/datautil/blob/master/datautil/parse/name.py

[2012-10-13 16:25] rufuspollock opened #30 "Convert notebook post on searching for raw data into handbook entry"
http://notebook.okfn.org/2011/04/30/searching-for-raw-data/

[2012-10-13 16:28] rufuspollock opened #31 "Move http://handbook.schoolofdata.org to http://schoolofdata.org/handbook"
Move the handbook from subdomain to suburl. We'd still use sphinx but we'd use Wordpress API to push built sphinx docs up into wordpress.

Benefits:
- Integrated experience
- Shared theming
- Nicer urls!

Costs:
- Some coding effort
- Ongoing maintenance (site won't automatically rebuild as it does via
  readthedocs)
## How to

Use pywordpress and wordpress XML API

Here's a library to help with t

[2012-10-31 15:09] mihi-tr commented on #31
Done! the handbook lives now on http://schoolofdata.org/handbook/

thanks for the code! works even nicer with pyquery.

[2012-10-31 15:44] rufuspollock commented on #31
Seem to have an issue with trailing space and/or <br /> in the paragraphs - see http://schoolofdata.org/handbook/introduction/. Need to fix and re-upload (?)

[2012-10-31 15:47] mihi-tr commented on #31
indeed. haven't noticed that one.

[2012-10-31 15:48] mihi-tr commented on #30
Done : http://schoolofdata.org/handbook/recipes/searching-for-raw-data/

[2012-10-31 15:48] #30 closed, assigned to nobody

[2012-10-31 15:55] #31 closed, assigned to nobody

[2012-11-01 11:10] mihi-tr opened #32 "Scoda line wraps need to be done properly."
Simply strip() ing kills the configuration of -pre- areas. Should not be done there....

[2012-11-01 11:12] mihi-tr opened #33 "Figure out Navigation in wordpress"
Can we have navigation instead of the tweet thing? So we have an isolated global nav?

[2012-11-01 11:23] mihi-tr opened #34 "Add microdata to course pages"
Simply create an itemscope and itemprops around each course should actually do. where the title is the title and first paragraph is the description...

[2012-11-01 15:43] mihi-tr commented on #33
Done - this is done in a wordpress widget with jquery.

[2012-11-01 15:43] #33 closed, assigned to nobody

[2012-11-02 08:38] mihi-tr commented on #32
Does still cut lines after the first <pre> why is this?

[2012-11-02 08:57] #32 closed, assigned to nobody

[2012-11-02 09:01] mihi-tr opened #35 "Generate or extract local page TOC"

[2012-11-02 13:04] mihi-tr commented on #34
Not very well but done. A wordpress plugin would be nicer...

[2012-11-02 13:04] #34 closed, assigned to nobody

[2012-11-13 19:14] jgrethe opened #39 "Additional search engines for raw data"
I was reading through the handbook and would like to offer another search engine for raw data (http://schoolofdata.org/handbook/recipes/howtogetdata/):

Neuroscience Information Framework
http://neuinfo.org

The Neuroscience Information Framweork (NIF) is a biological search engine that searches the contents of more than 150 databases relevant to neuroscience and the biomedical literature simultan

[2012-11-26 10:23] mihi-tr commented on #39
I think it'll be good to collect those in a list of resources. We've started this as part of the School of Data here: http://schoolofdata.org/datasources/

Added your link

[2012-11-26 10:23] #39 closed, assigned to nobody

[2012-11-26 10:36] rufuspollock commented on #39
@mihi-tr can I suggest using http://okfnlabs.org/listify/ - you could use it with a spreadsheet based off a google form too ...

(Can explain a bit more if you are around online!)

[2012-11-26 10:42] mihi-tr commented on #39
@rgrp will check this - in the meanwhile the list view works quite well...

[2012-11-28 15:48] mihi-tr opened #40 "Transcribe: Finding Data"
Transcribe the following module to restructured text.

Instructions here: https://github.com/okfn/datawrangling/wiki/Tutorial-Sprint
Module: https://docs.google.com/document/d/1um3NBzWazXtNXuq-MEHuAZY7iN_11ihzujo07MuR8JI/edit#heading=h.1f2cv7eqse46

[2012-11-28 15:53] mihi-tr opened #41 "Transcribe: What is Data"
Transcribe the following module to restructured text.

Instructions here: https://github.com/okfn/datawrangling/wiki/Tutorial-Sprint
Module: https://docs.google.com/document/d/1um3NBzWazXtNXuq-MEHuAZY7iN_11ihzujo07MuR8JI/edit#heading=h.1f2cv7eqse46

[2012-11-28 15:54] mihi-tr opened #42 "Transcribe Sort and Filter"
Transcribe the following module to restructured text.

Instructions here: https://github.com/okfn/datawrangling/wiki/Tutorial-Sprint
Module: https://docs.google.com/document/d/1sGcOnOiUKNSNPDIktUQf_PR8Zm9LDSDfVNvTqWjQ9rE/edit

[2012-11-28 15:55] mihi-tr opened #43 "Transcribe: Basic Analysis"
Transcribe the following module to restructured text.

Instructions here: https://github.com/okfn/datawrangling/wiki/Tutorial-Sprint
Module: https://docs.google.com/document/d/1O1LHqnwy8narzwW2N1nUTlVEqL1cN-y88rXDgXfvYzc/edit#heading=h.eudisn49u2hw

[2012-11-28 15:56] mihi-tr opened #44 "Transcribe: From data to diagrams"
Transcribe the following module to restructured text.

Instructions here: https://github.com/okfn/datawrangling/wiki/Tutorial-Sprint
Module: https://docs.google.com/document/d/1cSBTsdgDb48cJBPxjTwWz5beuk8naobOIQIczvD16ho/edit#

[2012-11-28 15:57] mihi-tr opened #45 "Transcribe: Common Misconceptions"
Transcribe the following module to restructured text.

Instructions here: https://github.com/okfn/datawrangling/wiki/Tutorial-Sprint
Module: https://docs.google.com/document/d/1_bAgVYeQugi0mXAIf2WWtxbhgWTPBi2ZES1pgd8vX3w/edit#

[2012-11-28 15:57] mihi-tr opened #46 "Transcribe: Tell me a Story"
Transcribe the following module to restructured text.

Instructions here: https://github.com/okfn/datawrangling/wiki/Tutorial-Sprint
Module: https://docs.google.com/document/d/1pi8UnLNBj6wpFtLYWc98_jGBgRfk1WaZsZbpPO-XViE/edit#heading=h.8fik7l520kzj

[2012-11-28 16:03] mihi-tr commented on #41
I'll start working on this now

[2012-11-28 16:49] #41 closed, assigned to mihi-tr

[2012-11-28 16:51] mihi-tr commented on #40
Worked on by me

[2012-11-29 02:43] icedwater commented on #43
How do I assign myself here?

[2012-11-29 07:19] DuarteRV commented on #46
I've never done a transcription before but I'd like to give it a try.

[2012-11-29 11:25] mihi-tr commented on #43
You can either comment or use the assignment function up top.

[2012-11-29 11:25] mihi-tr commented on #46
Go ahead! If you need help, just email schoolofdata or me

[2012-11-29 11:41] mihi-tr commented on #39
@rgrp done...

[2012-11-29 12:18] rufuspollock commented on #43
@icedwater you assign yourself just by commenting as you did :-) Consider yourself hereby assigned :-)

[2012-11-29 12:42] #40 closed, assigned to mihi-tr

[2012-11-29 13:41] #42 closed, assigned to nobody

[2012-11-29 13:51] mihi-tr commented on #44
Will start this next...

[2012-11-29 14:21] aabril commented on #45
Could assign myself this one?
This would be the first transcription I do, but I'm familiarized with Restructured text and Git.

[2012-11-29 14:24] mihi-tr commented on #45
Great thanks! Consider yourself assigned...

[2012-11-29 15:01] #44 closed, assigned to mihi-tr

[2012-11-29 15:26] #46 closed, assigned to nobody

[2012-11-29 15:26] mihi-tr commented on #46
Thanks @DuarteRV (misspelled your name in the commit message :/)

[2012-11-29 16:59] #45 closed, assigned to nobody

[2012-11-30 05:31] brylie commented on #43
I converted the text, but found that embedding the images hosted on a Flickr account may violate the Flickr Community Guidelines.

[2012-11-30 09:17] icedwater commented on #43
This is true. I didn't know this about Flickr. I also converted the text but couldn't find the first picture -_-

[2012-11-30 10:11] rufuspollock commented on #43
we can put a credit link back if needed. we may also move these images to a dedicated location soon now that they are finalized ... :-)

[2012-12-03 12:57] #43 closed, assigned to nobody

[2013-03-23 22:09] rufuspollock opened #65 "Add table of contents to long modules / recipes"
e.g. http://schoolofdata.org/handbook/recipes/cleaning-data-with-spreadsheets/

[2013-03-23 22:09] rufuspollock opened #66 "Make image captions look nice in handbook"
See e.g. http://schoolofdata.org/handbook/recipes/cleaning-data-with-spreadsheets/

May need to recommend people use a specific bit of html ...

[2013-03-24 09:11] rufuspollock opened #67 "Create a dedicated reference page in the handbook for CSV (?)"
- What it is
- Links to relevant recipes etc

[2014-02-12 17:51] tfmorris opened #68 "Redirect loop for courses"
This URL has a redirect loop:

http://schoolofdata.org/courses/

[2014-02-17 17:09] mihi-tr commented on #68
this is bad!

[2014-02-17 17:15] mihi-tr commented on #68
Fixed - this was a wordpress snafu...

[2014-02-17 17:15] #68 closed, assigned to nobody

[2014-09-19 23:44] rufuspollock commented on #3
OUTOFDATE

[2014-09-19 23:44] #3 closed, assigned to nobody

[2014-09-19 23:44] rufuspollock commented on #1
OUTOFDATE. Please feel free to re-open.

[2014-09-19 23:44] #1 closed, assigned to nobody

[2014-09-19 23:56] #4 closed, assigned to nobody

[2014-09-19 23:56] #11 closed

[2014-09-19 23:56] #28 closed, assigned to nobody

[2014-09-19 23:56] #29 closed, assigned to nobody

[2014-09-19 23:56] #35 closed, assigned to nobody

[2014-09-19 23:56] #65 closed, assigned to nobody

[2014-09-19 23:56] #66 closed, assigned to nobody

[2014-09-19 23:56] #67 closed, assigned to nobody

[2014-11-15 12:41] rgrp opened #69 "Convert original content from rst to markdown and insert"
Want content from point where we were still patterns (?)

* This seems a likely point: https://github.com/okfn/datapatterns/tree/03892701946f3809e9eea3ad3a517f38e3600e04
* Alternately we can go off master HEAD and just use the recipes - https://github.com/okfn/datapatterns/tree/master/text/recipes

Once we have identified content we need to port across each file as one pattern - inherit from patte

[2014-11-15 12:42] rgrp opened #70 "Site Info (URL) Architecture"
Suggest

[code]

## Discussed but won't do

[code]

[2014-11-15 12:45] rgrp opened #71 "Pattern Layout (template)"
Template / layout for each pattern

Each pattern has following structure:

file path: `/pattern/my-pattern/index.md`

[code]

## _layouts/pattern.html
[code]

[2014-11-15 12:51] mihi-tr commented on #69
I do think this is a very interesting idea to bring back to life. We've turned this completely around with the School of Data stuff and we don't have a catalog for programmers and advanced data geeks on these issues.

do we have good user stories yet for it?

Also: I do think this seems a good point to start from. Alternatively: Find my first commit and take it before that :)

[2014-11-15 12:53] mihi-tr commented on #70
do we need the `{digit-id}` ?  wouldn't a slug be enough?

[2014-11-15 13:04] rufuspollock commented on #70
I thought digit-id is nice because you could refer to pattern by their number e.g. data pattern no.3 :-)

[2014-11-15 13:06] rufuspollock commented on #69
@mihi-tr what i have here atm is basically the first commit to the repo (the front page) converted to jekyll. IMO it is worth pulling in more than that (either of those points would be fine with me ... - i just don't if we lost recipes / patterns along the way)

Re user stories: I think have the short purpose statement (you just wrote one) is really valuable and I think we are close to that - not

[2014-12-07 12:05] rufuspollock commented on #70
@mihi-tr you around? would you be up for contributing here?

[2014-12-21 21:41] rgrp opened #72 "(Nice) Site Theme"
Be good to keep the basic bootstrap but could we make this "nice"

[2014-12-21 21:42] rufuspollock commented on #72
@pudo you have skillz in this area - would you be up for having a go at this (+ the related #71)

[2014-12-22 13:40] pudo commented on #72
I think I need to limit my battles :smile: - datapatterns would be a cool thing if we could do it properly, but as a weekend thing I'm going to resist for now...

[2015-01-25 16:23] rufuspollock commented on #69
@mihi-tr ^^^ - would you be up for helping boot this up generally?

[2015-02-15 16:13] rufuspollock commented on #70
@mihi-tr any thoughts further here? Will you have a chance to contribute?

[2015-02-15 18:38] mchelen commented on #69
I'm going to try converting some of the .rst files using pandoc, and see if they need manual cleanup after conversion.

[2015-02-17 01:58] mihi-tr commented on #70
Sorry tied up right now. Will take a look when I do find time.

On Sun, Feb 15, 2015 at 08:13:06AM -0800, Rufus Pollock wrote:

[2015-02-17 07:52] rufuspollock commented on #70
@mihi-tr no problem - any idea when you will have time (1 week, 1 month, 1 year ;-0 ...)

[2015-05-02 12:44] rufuspollock commented on #72
Suggest we use new open data handbook theme.

[2015-05-02 12:52] rgrp opened #73 "[meta] Reboot Data Patterns"
Overall discussion and get involved issues.

* [x] Recruit editors and contributors - please leave a comment below if you are interested in helping
* [x] #69 - convert over existing content to markdown and jekyll
* [x] #72 - new site theme
* [ ] Plan of new content and call for content contributors
* [ ] Announce re-launch
* ...

**If you are interested in contributing please put a comment below**

[2015-05-02 16:04] todrobbins commented on #73
Sign me up!

I can help with #69 and #72

[2015-05-02 20:23] rufuspollock commented on #70
OK, removing the digital-id stuff (updated issue description). I think this now good enough to go.

[2015-05-02 20:23] rufuspollock commented on #70
FIXED.

[2015-05-02 20:23] #70 closed

[2015-05-02 20:26] rufuspollock commented on #71
Updated description. Pretty reasonable to get started.

[2015-05-02 20:29] rufuspollock commented on #73
@todrobbins great - do you want to have a stab at #69 using pandoc or ...

[2015-05-02 20:29] rufuspollock commented on #69
@mchelen how did you get on here? @todrobbins is going to have a stab.

@todrobbins - i think #71 and #70 are now in a good enough state to guide work here.

[2015-05-02 20:54] todrobbins commented on #73
@rgrp sure. Is there another repo with more content? I don't see anything in this one.

Also, are we going with Jekyll once we convert the old content?

[2015-05-02 20:55] todrobbins commented on #73
Ah, just saw you tagged me about the old repo/branch. Thanks!

[2015-05-03 11:58] rufuspollock commented on #69
@todrobbins do the references in description to places in the repo history make sense?

[2015-05-03 14:48] seralf commented on #73
Hi!
If some extra help for pandoc/markdown is needed, please let me know if I can contribute!

I suggest also using [Haroopad](http://pad.haroopress.com/) for fine-grained editing (especially for images references)

How much content should be converted?

[2015-05-03 21:43] rufuspollock commented on #73
@seralf great to have you help - please take a look at #69 along with @todrobbins - instructions on what to convert are in that issue and we can discuss there if not clear.

[2015-05-10 17:04] rufuspollock commented on #73
@seralf @todrobbins how's this going? I'm going to move to #69.

[2015-05-10 17:39] rufuspollock commented on #69
@todrobbins @seralf - thoughts here? Any progress?

[2015-05-11 05:45] seralf commented on #69
Hi I've made some simple conversion with pandoc, but I stopped because
reading the comments I thought this step was already done, and I was not
sure what is still required.
Are the first retext -> markdown draft already shared somewhere? (on a
specific fork/branch?): I ask in order to avoid work on the same files...
if it could be useful I could start forking the original files, replacing
them one

[2015-05-11 06:42] rufuspollock commented on #69
@seralf no the conversion has not been done so please dive in - and great you are already doing this. You want to commit this stuff straight into the HEAD of gh-pages branch using the structure in #71 and #70

[2015-05-14 16:59] rufuspollock commented on #69
@seralf how are you doing - excited to see this in

[2015-05-14 17:01] todrobbins commented on #69
Thanks for taking this on @seralf! I thought I'd be able to do it but my workload changed recently. Cheers!

[2015-05-15 03:28] seralf commented on #69
Hi I've created a new branch called `editing-markdown` in my fork, and the make a pull request containing some really raw and initial experiments for rewriting:
https://github.com/seralf/datapatterns/tree/editing-markdown

There are several formattings which doesn't make sense in markdown, and we have to find a good alternative, depending on the processor (and relative extension) used for renderin

[2015-05-15 07:20] rufuspollock commented on #69
@seralf commented in the pull request. We definitely want new content and linked data stuff would be very welcome.

[2015-05-15 07:29] seralf commented on #69
ok thanks, if we can find the best way to update the formatting with
markdown, I'll eventually try to add some draft in that direction (the free
time is poor, so one step at time :-) ). Thank you.

2015-05-15 9:20 GMT+02:00 Rufus Pollock notifications@github.com:

[2015-06-21 12:30] rufuspollock commented on #69
@seralf great work in #78. I would say next steps are the following:
- move "patterns" to top level directory as per our site architecture in #70
- move all patterns to follow site architecture in #70 and have correct front matter see #71
  - i.e. we want `/pattern/name-of-pattern/index.md`
- move `/text/` items to either be patterns or top level (front page)
  - index.md and intro.md can both mov

[2015-06-21 12:38] seralf commented on #69
Yes Rufus, sorry for not correcting yet the headers for yekill: I had some
other things to manage in the last weeks that ruins all my plans for spare
time :-(
During the next week I hope to be able to follow your list and move on the
required updates. I also have some suggestion for addition or normalization
of formatting, but I left them after a first good version in this format.
If you want I co

[2015-06-21 13:02] rufuspollock commented on #69
@seralf sounds great! Re formatting either you can do that as you go or you could open a new issue where you log issues and we come back to that later.

[2015-06-21 15:10] seralf commented on #69
ok then, I'll update as soon as i can be able to work on this.
for reformatting I tried to avoid changing too much the current format
before discussing it, but if we are free, I could try to make the various
part a bit more homogeneus where possible, it could help for readability,
and eventually give back some sort of light lineguides for future
contributions. Just an idea: I worked a lot on publi

[2015-06-22 14:02] rufuspollock commented on #69
@seralf **great** suggestion re having some kind of standard structure for patterns - both existing and especially ne wones. I think you are absolutely right that we want some "contraints" / guidance here so big +1 on this suggestion and please take a lead on this if you would like :-)

[2015-07-28 10:39] rufuspollock commented on #73
@seralf how are you doing? Are you able to help some more?

Also @todrobbins are you able to contribute - we are very close to having some nice working again here :-)

[2015-07-28 10:57] seralf commented on #73
Hi Rufus, sorry for not giving new updates: I am moving slowly due to other
things, but I can contribute more if needed.

Last week I've made some more experiments with templating, but didn't have
yet something ready to submit, I think I have to study a little jekyll (I
suppose understanding how it works will require more time than actually
edit the files :-)

2015-07-28 12:39 GMT+02:00 Rufus Poll

[2015-07-28 11:09] rufuspollock commented on #73
@seralf re templating - we want to probably copy the approach of https://github.com/openspending/dotorg - this is jekyll based and use our latest template setup. We can probably literally copy and paste and then adapt.

[2015-08-31 16:08] rufuspollock commented on #73
@seralf how are you doing here - i will move convo to site theming issue #72

[2015-08-31 16:09] rufuspollock commented on #72
@seralf what do you reckon of working on this - as i said all you need to do is copy and paste over from https://github.com/openspending/dotorg

/cc @danfowler @mintcanary - this is another place we are applying the theme

[2015-09-10 14:41] rufuspollock commented on #72
@seralf any thoughts here? Would be lovely to get this updated :-)

[2015-09-14 01:19] seralf commented on #72
hi Rufus, sorry for not replying but i had a lot of annoying issues in the
past days/weeks...

the example template looks fine!
hopefully I will be able to look at this again during this week

2015-09-10 16:41 GMT+02:00 Rufus Pollock notifications@github.com:

[2015-09-14 05:13] danfowler commented on #72
@seralf I can help if you run into any issues :sos:

[2015-09-14 11:54] seralf commented on #72
Thanks Daniel, it would be great to have some help on this! :-)

2015-09-14 7:13 GMT+02:00 Daniel Fowler notifications@github.com:

[2015-09-17 07:38] danfowler commented on #72
:) Anything in particular blocking?

[2015-09-17 10:55] seralf commented on #72
I had very few time to study how to put jekyll in place sadly, due to other
things to manage. If you have experience with that and you can prepare the
template for one of the page I could find the time to handle the others in
the same way: I know it should be not a complex task at this level. I'll
try to get back working on this in these days, if hopefully I will have not
other mishaps :-)

2015-0

[2015-10-14 08:11] danfowler commented on #72
Hi @seralf I put a template in place and some basic layout (http://datapatterns.org/), so I'll close this ticket. What's left is some cleanup of the content and maybe some new graphics (currently reusing background logo from another project). Would you be interested in taking that on?

[2015-10-14 08:11] #72 closed

[2015-10-14 12:24] danfowler opened #79 "Move "patterns" to top level directory as per our site architecture in #70"
Patterns have now been converted and now must be re-organized under `/pattern/` (i.e. some are still under `/pattern/patterns/` and should be moved under `/pattern/`).

Glossary is special and go at site root i.e. `/glossary.md` (actual URL path will be `/glossary/`) (note glossary seems to be duped in two locations atm)

[2015-10-14 12:28] danfowler opened #80 "New site banner that fits with current theme"
Maybe somehow implicate the "data wrench" within the banner-type background this theme needs (currently using OpenSpending's banner).

![data-wrench](https://cloud.githubusercontent.com/assets/772616/10483396/edd4caaa-7287-11e5-8e4e-911a7049cf19.png)

![home-banner](https://cloud.githubusercontent.com/assets/772616/10483400/f16a0522-7287-11e5-95d5-830dbe7780a6.jpg)

[2015-10-14 12:30] danfowler commented on #69
As this conversion step has already been done, I am closing in favor of the next organizational #79 and styling #80 steps.

[2015-10-14 12:30] #69 closed

[2015-10-14 12:31] rufuspollock commented on #80
The wrench was just a reuse from somewhere else - we don't need to keep it.

[2015-10-14 14:05] seralf commented on #69
great! :-)

2015-10-14 14:30 GMT+02:00 Daniel Fowler notifications@github.com:

[2015-10-14 14:07] seralf commented on #72
yes of course!
I was distracted by other things and even if I can work slowly on this, if
I can contribute to anything from template to content, just let me know,
I'm glad to help.

(sorry for not helping much lately)

2015-10-14 10:11 GMT+02:00 Daniel Fowler notifications@github.com:

[2015-10-15 08:09] danfowler commented on #72
Hey, @seralf no worries :smile:

I've made a couple of small issues to work on: https://github.com/okfn/datapatterns/issues/80 and https://github.com/okfn/datapatterns/issues/79

[2015-11-01 19:04] seralf opened #81 "[suggestion] integrate lunr.js for in-page search"
I like to suggest the testing of a small integration, while developing the new theme.
As long as the content grows it could be good to have some onsite search, such as the services provided by Solr / Elasticsearch . A good lightweight alternative that works on the client side (thus on a static site, for example, once rendered by jekyll), could be [Lunr.js](http://lunrjs.com/). It should be easy to

[2015-11-02 08:29] danfowler commented on #81
Sounds great :).  Would you be up for adding?

[2015-11-02 11:25] seralf commented on #81
of course! the only problem for me is that my contributions in this phase are rather slow, due to lack of time, but on the other hand I suppose there is not any particular deadline :-)

[2016-03-09 11:58] rgrp opened #82 "[to-reuse?] Tony Bowden's civic tech abecedary"
Fantastic gems of wisdom http://agitagogo.com/

[2016-05-02 11:35] gsilvapt commented on #79
@danfowler Should files be replaced, renamed or something else?

[2016-05-02 13:04] rufuspollock commented on #79
@gsilvapt everything should move up to live under pattern. Can i suggest you post a short summary of what you plan to do here before you do it -- this is a generally recommended workflow.

e.g.
- I will move x to y
- Create file y

[2016-05-02 14:02] gsilvapt commented on #79
In order to move the files under `/patterns/patterns`, some have the same name and you'll have a prompt asking if you want it to ignore those, rename or replace. My question was which one do you prefer to do in this case.

List of files with the same filename:
- geocoding.md
- index.md
- liberating-html-tables.md

I can check the contents of each file to see if it is just a repetition or if the co

[2016-05-02 14:21] rufuspollock commented on #70
Reopen as we need to still implement this e.g. ref #79

[2016-05-02 14:21] rufuspollock commented on #79
@gsilvapt have you looked at the difference between these - are they just the same file. Also see #70 for site infor architecture. Please go ahead and do a first sample pull request showing what you plan to do.

[2016-05-02 14:51] gsilvapt commented on #79
I was looking into all repeated files and:
- `index.md` is different in both ends. Under `/patterns/patterns` it seems like a glossary, while the one under `/patterns/` is an introductiory file. Also, `patterns/index.md` has as title `Recipes`. Should filename be changed to `recipes.md` or `patterns.md` ?
- `/patterns/geocoding.md` is about how to geocode data in spreadsheets, while `/patterns/pat

[2016-05-02 15:31] gsilvapt commented on #79
The [pull request 83](https://github.com/okfn/datapatterns/pull/83) will go as follows:
- [x] Move `/patterns/glossary.md` to (new) `glossary` directory - there is still another glossary under `pattern/appendix/`
- [x] Merging `liberating-html-tables.md` in `patterns/patterns/liberating-html-tables.md` and `/patterns/liberating-html-tables.md`
- [x] Changing filenames as suggested in previous comm

[2016-05-02 15:43] gsilvapt commented on #73
By the way, count me in as a contributor!

[2016-05-05 17:31] gsilvapt commented on #79
FIXED.

[2016-05-05 17:31] #79 closed

[2016-05-05 17:32] rufuspollock commented on #71
FIXED.

[2016-05-05 17:32] #71 closed

[2016-05-05 17:36] rgrp opened #84 "Fix front page"
* [x] Get involved should go
* [x] "Data Guide" as new name for patterns section
* [x] "Labs Guide" - how to get involved, how things work, contributor instructions

[2016-05-05 17:37] rgrp opened #85 "Rename this repository to "labs-handbook""
Reflecting its new purpose a la: https://discuss.okfn.org/t/creating-a-labs-handbook/2507

Create a Labs "handbook" containing key learning and instructional materials.

* Introduction to concepts around labs - civic tech, data wrangling, open tools etc
* Participating in the community - getting started with Labs - tbc
* Basic introduction to tooling
* Learning data wrangling
* (Learning civic tec

[2016-05-05 17:38] rgrp opened #86 "Move domain e.g. to handbook.okfnlabs.org"
Or maybe okfnlabs.org/handbook/ - this is probably better (however we do need to then get internal urls sorted ...)

[2016-05-05 17:40] rgrp opened #87 "Patterns section home page"
* [ ] Strip out all the blurb at the top - have a very short intro
* [ ] Remove long list of non-existent patterns - move them to a github issue if we want to track them
* [ ] list the items we have

[2016-05-05 17:41] rgrp opened #88 "Introduction: Concepts e.g. civic tech, data wrangling, open tools etc"
* [ ] Open tools
* [ ] Data Wrangling
* [ ] Data analysis
* [ ] Civic tech
* [ ] ...

[2016-05-05 17:42] rgrp opened #89 "Intro: Participating in the community - getting started with Labs"
* [x] Who can participate (anyone)
* [x] Pre-requisites
* [x] Example starting points ...

[2016-05-05 17:44] rufuspollock commented on #73
FIXED. We are not go ...

[2016-05-05 17:44] #73 closed

[2016-05-06 11:51] rgrp opened #90 "Tutorial: Contributing to Core Datasets"
* [ ] Intro to Data Packages - can reference FrictionlessData.io
* [ ] Details of core datasets project
* [ ] Walkthrough of packaging a dataset in the "right way"

@gsilvapt creating this to detail what we have on this site vs frictionlessdata.io. I think we can make this a top priority.

----

Considering the structure proposed in issue #94, the following pages should be created/get resources fr

[2016-05-09 23:06] gsilvapt commented on #85
Items to-do:
- [ ] Introduction to concepts around labs - civic tech, data wrangling, open tools etc
- [ ] Participating in the community - getting started with Labs - tbc
- [ ] Basic introduction to tooling
- [ ] Learning data wrangling
- [ ] Learning civic tech - tbc

Participating in the community has suggestions here: https://github.com/okfn/handbook/issues/89

[2016-05-09 23:07] gsilvapt commented on #84
https://github.com/okfn/handbook/issues/87 complements this issue

[2016-05-10 07:07] danfowler commented on #85
@rgrp @gsilvapt Flagging potential confusion with existing, and popular, [Open Data Handbook](http://opendatahandbook.org/).

[2016-05-10 09:24] gsilvapt commented on #85
@danfowler There will be a few guides and docs available so I guess you are right. Even if this is changed to Core Datasets Handbook, it is too many handbooks.

I still think documentation should be centralized in one place, even though Open Data Handbook has a diffferent purpose than these guides and Frictionless data.

[2016-05-10 09:48] rufuspollock commented on #85
@danfowler i know about the confusion but what would you suggest we do? If we want this to show up at  e.g. http://okfnlabs.org/handbook/ we need the repo named this way. If we were willing to have at a subdomain then we could name it something like "labs-handbook". I also think the ultimate chance of confusion is relatively small in that most people do not come to the github and we do have a desc

[2016-05-10 09:49] gsilvapt commented on #85
@rgrp I didn't suggest merging this with Open Data Handbook, although I think it would be helpful to merge with Frictionless Data's tutorials.

But now you put it this way, I think we will be fine

[2016-05-10 09:51] rufuspollock commented on #85
@gsilvapt great!

Also in terms of the todo list above i your comment https://github.com/okfn/handbook/issues/85#issuecomment-218015745 - I suggest moving that out to a separate issue (in fact i think we may already have many of those items in separate issues). Then we can close this once we have done remaining todos in original issue description (I have just added a couple).

[2016-05-10 09:52] rufuspollock commented on #84
@gsilvapt i am not sure #87 completes this issue - did you mean "comple_ments_?

[2016-05-10 09:54] gsilvapt commented on #84
Yes, totally. It was late already :laughing:

[2016-05-10 10:57] gsilvapt opened #91 "Fix Menu: It currently has "Home" and "Data Patterns""

[2016-05-12 09:59] rgrp opened #93 "Redirects for old datapatterns.org content"
As content was 2y ago ...

[2016-05-12 10:15] rgrp opened #94 "[super] Information Architecture"
The overall structure of the site:

[code]

[2016-05-12 10:16] rufuspollock commented on #94
@gsilvapt i have started this issue so we can discuss site layout (and priorities)

[2016-05-12 16:12] gsilvapt commented on #94
@rgrp , thanks, indeed super useful!

Even though I have been reading it for a couple of days now, I am not sure what you guys mean with "Data Patterns". It previously was a bunch of Data Wrangling tutorials, in which I haven't done any change.

As for the Core Datasets projects, I wrote some tutorials and guides. They seem repeated in the FrictionlessData's tutorials too. After checking Dan's com

[2016-05-12 20:41] rufuspollock commented on #94
@gsilvapt i agree that "data patterns" were basically recipes for working with data. The "patterns" reference is to "software patterns". Right now let us not worry too much on that front.

[2016-05-12 22:58] gsilvapt commented on #94
Okay, sure. Can we discuss then the scope of **this** handbook? Like its usage, types of content you're expecting, target, etc etc?

[2016-05-12 23:41] gsilvapt commented on #90
I think this issue is done, even though we will need to go through it again in a later stage?

[2016-05-12 23:41] gsilvapt commented on #89
DONE. See http://datapatterns.org/core-guides/getting-started/. Warning: Link may change in the future.

[2016-05-12 23:42] gsilvapt commented on #88
@rgrp Can we say the last PR solves all thee issues? What tutorials/guides are missing right now?

[2016-05-12 23:43] gsilvapt commented on #91
Some reference to how to fix the bar would be important because I'd like to add more stuff to the menu bar.

[2016-05-12 23:45] gsilvapt commented on #86
If we change the URl to okfnlabs.org/handbook/, I think we can easily work our way through the internal URLs - that's the beauty of jekyll, right? :smile:

[2016-05-12 23:49] gsilvapt opened #95 "Home page design"
It is crucial to discuss how the homepage should look like.

[2016-05-13 08:36] rufuspollock commented on #95
@gsilvapt great. Comments:
- Issue title is surely: "Home page design" or similar (`index.html` is the file name and could be one of many files named `index.html`)
- Do you have a suggestion for what we should have here
- How is this different from #84 - it seems to me this is probably just a duplicate. If so we should close this  with comment `DUPLICATE of #84`

[2016-05-13 08:38] rufuspollock commented on #89
@gsilvapt when closing please link to output (e.g. relevant online page(s)) that are the resolution. e.g. write

[code]

[2016-05-13 08:39] rufuspollock commented on #88
@gsilvapt please can you link to the online pages that you think resolve this item - then I can review and approve closing the issue.

[2016-05-13 08:39] rufuspollock commented on #90
As per https://github.com/okfn/handbook/issues/89#issuecomment-218984163 i am re-opening. Please link to pages that resolve and we can close.

[2016-05-13 08:41] rufuspollock commented on #94
@gsilvapt **great** questions. Can you open a new issue called "Audience and User Stories". I also recommend reading: https://github.com/rgrp/project-management/blob/master/user-stories.md

[2016-05-13 09:28] gsilvapt commented on #95
This is was more related to the design of the page (what goes where, texts to insert where, etc) but yea, this is pretty much duplicate because we can discuss this in #84.

DUPLICATE OF #84

[2016-05-13 09:28] #95 closed

[2016-05-13 09:34] gsilvapt commented on #84
@rgrp, as we disscused in the now closed issue #95, here follows a few suggestions to work on the homepage:
- [ ] Add a small paragraph before the three "menus" pointing out to different guides
- [ ] In the menu, regardless of how we structure this, we should have an entire table of contents of the guides there so that users can easily click and go back whenever they want.
- [ ] In addition, it wo

[2016-05-13 09:38] gsilvapt commented on #88
@rgrp, there is a generic approach to data wrangling [here](http://datapatterns.org/core-guides/core-data-curators/), specially made to help people create data packages.
That page also mentions some open tools and supportive tools to analyse the data. Again, focused on how to create a data package.

I am not sure if those topics you mentioned are to be more generic or focused specifically in data

[2016-05-13 09:40] gsilvapt commented on #90
This link guides you through the process of creating a data package: http://okfnlabs.org/handbook/core-guides/core-data-curators/

[2016-05-13 09:42] gsilvapt opened #97 "[core] audience and user stories"
- Who?
- What?
- Why?

Topics to cover and to discuss about the handbook's scope

[2016-05-13 09:42] gsilvapt commented on #94
@rgrp Done in issue #97.

[2016-05-13 09:48] rgrp opened #98 "Fix css by sorting out baseurl"
Currently css is broken on http://okfnlabs.org/handbook/

This is almost certainly because site is deployed at `/handbook/` rather than a base domain. We just need to add the `baseurl` option.

Note: when testing locally you will need to visit `http://localhost:4000/handbook/` rather than just `http://localhost:4000/`

@gsilvapt I will fix this now.

[2016-05-13 09:50] #98 closed

[2016-05-13 09:51] rufuspollock commented on #97
@gsilvapt can you add some user stories based on your experience (as you first started contributing).

[2016-05-13 11:31] gsilvapt opened #99 "[sprint] 16/05-03/05"
This sprint will cover most of the issues here created to reboot the project previously known Data Patterns. This issue will work as general guidelines of what will happen in the following two weeks, specially if I have the same availability as the past two weeks (most likely).

| TASK | LEAD | DAYS | ISSUE | COMMENTS | DONE  |
|----|----|----|----|----|----|
| Hangout session | @gsilvapt | 0.25 |

[2016-05-13 12:38] rufuspollock commented on #89
@gsilvapt can you actually do and post the link to the relevant pages here ...

[2016-05-13 13:45] gsilvapt commented on #89
I posted it above. It is here:
http://datapatterns.org/core-guides/getting-started/

This page answers who can participate, pre-requisites (none, I guess), and it also works as a starting point (the labels in the issues page).

[2016-05-14 09:59] rufuspollock commented on #89
@gsilvapt - sorry missed that you had edited a previous comment. BTW the okfnlabs.org/handbook/ domain is now working so let's use that i.e.

http://okfnlabs.org/handbook/core-guides/getting-started/

[2016-05-14 10:01] rufuspollock commented on #89
@gsilvapt having look at this this seems to be a guide to contributing to _core datasets_ project not "getting started with labs" in general eg.:

As such isn't this more about #90? I am therefore re-opening and suggest you post in #90 about this.

[2016-05-14 10:09] rufuspollock commented on #90
@gsilvapt great progress.

Some thoughts:

Existing material. We already have:
- http://data.okfn.org/doc/core-data-curators
  - Source here: https://github.com/okfn/data.okfn.org-new/blob/master/doc/core-data-curators.md
- And http://data.okfn.org/roadmap/core-datasets
  - https://github.com/okfn/data.okfn.org-new/blob/master/views/core-datasets.html

I would suggest we port these over first (**u

[2016-05-14 10:13] rufuspollock commented on #88
@gsilvapt i do not think [that page](http://datapatterns.org/core-guides/core-data-curators/) is it in terms of a general intro to data wrangling - plus there are all the other items.

Let's try and sync so we can get on the same page on these items.

[2016-05-14 10:14] rufuspollock commented on #84
@gsilvapt not totally clear what you mean. Great if we can sync briefly.

[2016-05-14 10:46] gsilvapt commented on #84
@rgrp: I am having issues connecting to the Wi-Fi network. Perhaps we can do this during the afternoon, if you are around.

But still, are you referring to my last paragraph or anything in particular in my previous comment?

[2016-05-14 11:40] gsilvapt opened #100 "Permalinks in tutorials are wrong"
In the `/core-guides/index.md`, the text that is trying to recommend the reading of the `data-guides` is currently forwarding to `/core-guides/data-guides`, causing an error. It should forward to `/data-guides` directory.

Code used: `[[text]](data-guides/)` - this is potentially wrong.

[2016-05-14 13:14] Anterotesis commented on #100
Not sure which pages you are referring to, but this issue applies to the last three links on this page:
http://okfnlabs.org/handbook/core-guides/
Namely these links are broken:
Working with GitHub
Core Datasets Roadmap
Your first package

[2016-05-14 15:04] gsilvapt commented on #100
@Anterotesis: those pages haven't been yet created, thus is shows a 404 error. If you read through the introduction texts to core-guide, you will find that some links are not working, namely those that recommend the reading of the data guides.

[2016-05-14 16:32] gsilvapt commented on #100
This can be solved if we point the path correctly.

`[text](/path/to/file/filename)` is the correct code, and not just `[text](filename)`. The last form will perform differently.

The to-do list here is to update all entries that do not have a matching URL pattern. However, this still depends on the product structure, which is being discussed in issues #90 and #94.

[2016-05-14 18:16] rgrp opened #102 "[super] Data guide section"
* [x] `/data/` basic page - "data wrangling guide" - can we reuse old patterns home page? - #104
* [x] `/data/tutorial/`- #105
* [x] `/data/patterns/` - move all existing patterns under here - #103

[2016-05-14 23:37] gsilvapt opened #103 "Move old patterns to /data/patterns/"
Other things related with the organization should be discussed here, specially when it comes to guides related with patterns.

- [X] Move the list of patterns as per https://github.com/okfn/handbook/tree/ae934ab2efac136979a3765cf01ffae96fbc0e74/pattern from `/data-guides/` to `/data/patterns/`
-  [x] Rewrite the following files: `glossary.md`, `index.md`, `intro.md` - copy from the previous versio

[2016-05-14 23:44] gsilvapt opened #104 "Stub docs in `/data` as Data Wrangling Guide"
Most of the content from the current `/data` directory is focused on tutorials and guides to Data Wrangling. Hence, the guides and tutorials should go to the Data Wrangling Guide.

[2016-05-14 23:47] gsilvapt opened #105 "Data Wrangling Tutorial"
As suggestion, it would be interesting to use the [Historical GDP](https://github.com/gsilvapt/historical-data) as a walk-through to fit under the Data Wrangling Guide.

The Data Wrangling tutorial could have a structure that answers specifically:

- What kind of things we do
- What skills are needed

All of this would fit under the "Data Wrangling Guide" - #89

-----

The walk-through content and

[2016-05-14 23:50] gsilvapt commented on #90
Considering the structure proposed in issue #94, the following pages should be created/get resources from the corresponding pages:

* `/core-datasets/` - maybe just use https://github.com/okfn/okfn.github.com/blob/master/blog/_posts/2015-01-03-data-curators-wanted-for-core-datasets.md

* `/core-datasets/guide/` - core data curators guide - copy this over from https://github.com/okfn/data.okfn.org-

[2016-05-15 12:42] rufuspollock commented on #105
@gsilvapt could you flesh what you think the structure of this would be e.g. give section headings and a short sentence or two.

[2016-05-15 12:43] rufuspollock commented on #90
@gsilvapt i suggest moving this update into the main description of the issue and then deleting your comment.

[2016-05-15 12:44] rufuspollock commented on #104
@gsilvapt but `/data/` **is** the data wrangling guide. At the moment we would just stub this - perhaps using the old base base from patterns (?).

Could you summarize in the description what would go on this page (note: if it was just stubbed it would be not much right now!)

[2016-05-15 12:52] rufuspollock commented on #103
@gsilvapt great - could you detail with bullet points in the description the steps involved and any changes.

[2016-05-15 12:58] gsilvapt commented on #104
@rgrp The things inside this dir would be stubbed as `/data` to the Data Wrangling Guide, right?

[2016-05-15 14:53] rufuspollock commented on #104
@gsilvapt i don't understand ;-) Data wrangling guide would like at `/data/`

[code]

[2016-05-17 08:14] rufuspollock commented on #103
@gsilvapt why do we need to do rewriting? And the "?" at end suggests you were unsure.

[2016-05-17 11:19] gsilvapt commented on #103
@rgrp Those files were the ones missing in the old directory. They either were merged or renamed, so I had to restore that. If any, `index.md` is needed because of the function of the index file in a directory functioning as a page. I suggested copying from the other versions to avoid writing everything from scratch. It was a suggestion, hence yes, I was unsure whether we get these contents from a

[2016-06-04 23:34] gsilvapt commented on #99
NOT ACCOMPLISHED, NEW AND UPDATED SPRINT COMING SOON.

[2016-06-04 23:34] #99 closed

[2016-06-07 09:45] gsilvapt commented on #89
The goal is to have the "contribute guide" in one page only, and not many pages.

Items to be done for this issue:

- [ ] About (v short)
- [ ] Types of activity
     - [ ] Data wrangling
     - [ ] Coding
- [ ] Data Wrangling
     - [ ] What kind of things
     - [ ] What kind of skills
     - [ ] Actions
             - [ ] Walk through a real example in the data wrangling guide => /data/

[2016-06-07 10:51] rgrp commented on #89
@gsilvapt can you move the description and checklist to the main issue description.

[2016-06-07 15:18] rufuspollock commented on #103
@gsilvapt has moved the pages but at least the index page is broken as none of the links work:

http://okfnlabs.org/handbook/data/patterns/

Want to generate those links automatically probably using jekyll to walk through the list of pages ...

[2016-06-07 16:13] rgrp opened #110 "Selective Archive of some of the very original material"
This archives some of the old material (you could also still find in git but want it here for convenience for now).

---

Note on the term 'pattern'
--------------------------

The term pattern has developed a very specific meaning in software engineering. While we use the term in this sense, the tricks presented are not defined as a pattern using any of the formal templates that have developed fo

[2016-06-07 17:43] rgrp opened #111 "[patterns] Remove School of Data link at bottom of every page"
Remove the: "Any questions? Got stuck? Ask School of Data!" at the bottom of every pattern.

[2016-06-15 16:54] gsilvapt commented on #111
FIXED.

[2016-06-15 16:54] #111 closed

[2016-06-15 23:53] #100 closed

[2016-06-16 00:00] gsilvapt commented on #90
Closing issue as it has been fixed, only small improvements may be needed in terms of English.

FIXED.

[2016-06-16 00:00] #90 closed

[2016-06-16 00:01] gsilvapt commented on #89
@rgrp: Only "What kind of things" is missing. I remember we discuss something about Jekyll and list iterations, but I am not sure how to do that. Should we meet for that?

[2016-06-16 00:16] gsilvapt commented on #105
If PR #116 is accepted, this issue is fixed.

To be closed soon.

[2016-06-16 00:17] gsilvapt commented on #104
@rgrp Is this issue fixed or obsolete with all your commits + archiving of some?

[2016-06-16 00:18] gsilvapt commented on #103
FIXED.

[2016-06-16 00:19] gsilvapt commented on #102
@rgrp can we close this issue too? All of its sub-items seem ready/fixed.

[2016-06-16 20:47] rufuspollock commented on #104
FIXED.

[2016-06-16 20:47] #104 closed

[2016-06-16 20:48] rufuspollock commented on #103
FIXED.

[2016-06-16 20:48] #103 closed

[2016-06-16 21:10] gsilvapt commented on #84
@rgrp I think we can also close this issue. These items have been solved, I think.

[2016-06-17 08:04] rufuspollock commented on #84
FIXED.

[2016-06-17 08:04] #84 closed

[2016-06-17 08:05] rufuspollock commented on #102
FIXED.

[2016-06-17 08:05] #102 closed

[2016-06-17 08:05] rufuspollock commented on #105
FIXED.

[2016-06-17 08:05] #105 closed

[2016-06-17 11:36] rufuspollock commented on #89
@gsilvapt i have now reviewed the page and we still seem to have a lot not there. Main comments:
- Who can participate in Labs - **not there yet**
- Pre-requisites: missing - what do you think should go here ...
- Example starting points: none that i could see. No discussion of main projects people might contribute to
  - OpenSpending
  - Core Datasets
  - other priority projects from okfnlabs.org

[2016-06-17 11:36] rufuspollock commented on #89
@gsilvapt propose prioritising this. Also then ping on the gitter channel (okfn/chat) to ask for feedback about this ...

[2016-07-20 09:52] gsilvapt commented on #89
@rgrp I have reviewed this items and think about them for a while. I have some questions I think it is pertinent to discuss beforehand.
- **Who can participate in Labs - not there yet**
  - I think it is important to add that people will inevitably have to learn something at some point
- **Pre-requisites missing - what do you think should go here ...**
  - Some items I could think of: GitHub accou

[2016-07-21 14:23] gsilvapt opened #118 "Missing items in guides"
An issue to represent all items missing/should be in the guides of the Handbook.

**Core Datasets Guides:**

- [ ] Missing explanation in [*Packaging Up Data*](http://datapatterns.org//core-datasets/guide/#packaging-up-data) about how to generate a .JSON file and what to look at. Details are in the [frictionless data guides](http://frictionlessdata.io/guides/data-package/) and we can forward contr

[2016-08-03 09:34] rufuspollock commented on #89
@gsilvapt all suggestions here look good - please go ahead and draft for the sections where you suggest creating a draft.

/cc @danfowler so he can keep an eye here too ...

[2016-08-03 09:39] pwalsh commented on #89
@rgrp i wasn't really paying too much attention here, but great effort!

@danfowler please check out all the work happening here, and ensure it aligns with things you'd expect to see in a Labs Handbook.

[2016-08-03 09:41] pwalsh commented on #89
@rgrp also, are you targeting this as a "Labs handbook", or, as "Guides and introductions for participating in the Core Datasets Project.", which is a bit different.

[2016-08-04 07:22] rufuspollock commented on #89
@pwalsh there are two parts here:
- Labs handbook
- Core Datasets guide (migrated from data.okfn.org)

Idea was that working on core datasets was one of the main "intro" projects suggested in labs handbook. More of the structure in #94 (though a bit out of date - @gsilvapt perhaps you could update #94 with info from our shared doc ...)